.claude
.DS_Store
.graphifyignore
.idea
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
build
CLAUDE.md
composer.lock
coverage
docs/superpowers
graphify-out
node_modules
phpstan.neon
phpunit.xml
/raw/
testbench.yaml
vendor
